# Environnements
.venv/
venv/
env
.env

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
outputs/rag_logs/

# RAG stores 
src/data/chroma_db/
src/data/rag_index/
src/data/rag_chunks/

# Project packages temp files
src/utils/__pycache__/
src/utils/*.pyc
assistant_rag.egg-info/
src/assistant_rag.egg-info/
