numpy
pandas
matplotlib
scikit-learn
wordcloud
vaderSentiment
spacy
seaborn
ipykernel
torch
sentence-transformers
faiss-cpu
tqdm
transformers[onnx]
onnx
onnxruntime
ollama
# faiss-gpu
langchain-community
langchain
langchain-ollama
langchain-chroma
langdetect
pdfplumber
pyarrow
fastparquet
textblob
textblob-fr