numpy
pandas
matplotlib
scikit-learn
wordcloud
vaderSentiment
spacy
seaborn
ipykernel
langchain-community
langchain
langchain-ollama
langchain-chroma
langdetect
pdfplumber
pyarrow
fastparquet
textblob
textblob-fr